
   
<%- include('../partials/header') %>

<h1> Add Ticket </h1>

<form id="add-ticket" action="/flights/<%= flightId %>/tickets/create"  method="POST">
  <label>Seat:</label>
  <input name="seat" required pattern="[A-F][1-9]\d?">

  <br><br><label>Price:</label>
  <input type="number" required name="price" min="0">
  <input type="submit" value="Add Ticket">
</form>
<br>
<br><br><br>



<%- include('../partials/footer') %>